.comment-list-container {
  display: flex;
  align-items: flex-start;
}

.available-usernames {
  width: 200px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.available-usernames h3 {
  margin-top: 0;
}

.available-usernames ul {
  list-style: none;
  padding: 0;
}

.available-usernames li {
  margin-bottom: 5px;
}
