.comment-section {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 20px;
  border-color: aliceblue;
}

.com-title {
  margin-top: 1px;
  text-decoration: underline;
  font-size: 30px !important;
}

.single-comment {
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
  text-align: left;
}

.user {
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
}

.comment {
  font-size: 16px;
  font-weight: unset;
}

@media only screen and (max-width: 768px) {
  .user {
    font-size: 16px;
  }

  .comment {
    font-size: 14px;
  }
}
